{% extends 'base.html' %}

{% block content %}

<div class="main_container">
    <div class="add_word_container">
        <h2 class="add_word_header">Add New Word</h2>
        <form action="{{ url_for('add_word') }}" method="POST" class="add_word_form">
            <div class="add_word_form_group">
                <label for="word" class="add_word_label">Word (Sheng):</label>
                <input type="text" id="word" name="word" class="add_word_input" placeholder="Enter Sheng word" required>
            </div>
            <div class="add_word_form_group">
                <label for="translation" class="add_word_label">Translation:</label>
                <textarea id="translation" name="translation" class="add_word_textarea" placeholder="Enter translation" required></textarea>
            </div>
            <div class="add_word_form_group">
                <label for="example" class="add_word_label">Example:</label>
                <textarea id="example" name="example" class="add_word_textarea" placeholder="Provide an example sentence (optional)"></textarea>
            </div>
            <div class="add_word_form_group">
                <label for="category" class="add_word_label">Category:</label>
                <select id="category" name="category" class="add_word_select" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="add_word_form_group">
                <label for="credits" class="add_word_label">Credits (optional):</label>
                <input type="text" id="credits" name="credits" class="add_word_input" placeholder="Enter contributor's name">
            </div>
            <button type="submit" class="add_word_button">Add Word</button>
        </form>
    </div>
</div>
{% endblock %}
