{% extends 'base.html' %}

{% block content %}
<div class="lyrics-container">

    <!-- Articles Section -->
    <div class="lyrics-section">
        <h3>Articles</h3>
        <div class="lyrics-card">
            <h4><a href="#">Life Ya Kuunda Web Ya Shengome</a></h4>
            <p>Documenting Sheng has been a rewarding journey, driven by the desire to preserve and share this vibrant language. The project began with a simple idea and evolved into a comprehensive platform. Collaborating with others has enriched the experience, allowing us to create a resource that celebrates Sheng's cultural significance and engages users in meaningful ways.</p>
        </div>
    </div>

</div>
{% endblock %}
