{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Sheng Lyrics</h2>
    <ul>
        <div>
            popular artists
            <li><a href="#">Chef wa Eastlando</a>
                <div>give one medium long narative for the popular tiktoker
                    
                </div>
            </li>

            <li><a href="#">another popular sheng artist here</a>
                <div>give one medium long narative for the popular tiktoker
                    
                </div>
            </li>
        </div>

        <div>
                articles
            <li><a href="#">life ya kuunda web ya shengome</a>
                <div>give one medium long narative for the journey and inspiration to document Sheng and collaborate all together.
                    
                </div>
            </li>
        </div>

        <div>
                Songs
            <li><a href="#">popular sheng songs</a>
                <div>give one medium or a 2 paragrpah of the song with read more button.
                    
                </div>
            </li>
        </div>

        >> chose other lyrics and user stories to make the lyrics page awesome and very entertaining.
        

        
    </ul>
</div>
{% endblock %}
