{% extends "base.html" %}

{% block content %}
<div class="container" id="profileContainer">
    <div class="profile-header">
       <!-- User Avatar -->
        <div class="avatar-container">
            <img src="{{ session.get('avatar_url') or url_for('static', filename='default/avatars/' + default_avatar) }}" alt="Avatar" class="avatar">
        </div>

        <!-- User Information -->
        <h2>{{ session.fname }} {{ session.other_name }}</h2>
        <p>
            {{ session.email }}
            {% if session.is_verified %}
                <i class="fa fa-check-circle verified_icon" aria-hidden="true"></i>
            {% else %}
                <a href="{{ url_for('email_verification') }}" class="verify-link">Verify Email</a>
            {% endif %}
        </p>
        <p>Username: <span class="status {{ session.username }}">{{ session.username.capitalize() }}</span></p>
        <p>Status: <span class="status {{ session.status }}">{{ session.status.capitalize() }}</span></p>


        <!-- Logout Button -->
        <a href="{{ url_for('logout') }}" class="logout-btn">
            <i class="fa fa-power-off"></i> Logout
        </a>
    </div>
    <br><hr><br>

    <div class="profile-body">
        <!-- Upload Avatar Form -->
        <form action="{{ url_for('upload_avatar') }}" method="POST" enctype="multipart/form-data" class="form">
            <h3>Update Profile Picture</h3>
            <input type="file" name="avatar" accept="image/*" required>
            <button type="submit">Upload Avatar</button>
        </form>
        
        <br><hr><br>
        
        <!-- Change Password Form -->
        <form action="{{ url_for('change_password') }}" method="POST" class="form">
            <h3>Change Password</h3>
            <input type="password" name="current_password" placeholder="Current Password" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
            <button type="submit">Update Password</button>
        </form>

        
    </div>
</div>
{% endblock %}
