{% extends 'base.html' %}

{% block content %}
<div class="main_container">
    <!-- Main Content Section -->
    <div class="main_content">
        <br>
        <!-- Search Box -->
        <div class="search_box">
            <div>
                <input type="text" placeholder="Search Sheng phrases...">
                <button type="submit">Search</button> &nbsp;&nbsp;
                <a href="{{ url_for('add_word') }}" class="btn">+ Add New Word</a>
            </div>
        </div>

        <!-- Add New Word Button -->
        <!-- <div class="add_word_button">
            <a href="{{ url_for('add_word') }}" class="btn">+ Add New Word</a>
        </div> -->

        <!-- Display results here -->
        <div class="word_placeholders">
            <div class="title">
                <h2>Popular Words</h2>
            </div>
            <div class="words_list">
                {% for word in words %}
                <!-- Word Card -->
                <div class="card">
                    <div class="card_content">
                        <p class="sheng_word">
                            {{ word.word }}
                            {% if word.is_verified %}
                            <i class="fa fa-check-circle verified_icon" aria-hidden="true"></i>
                            {% endif %}
                        </p>
                        <p>Meaning: {{ word.translation }}</p>
                        <p>Synonyms:
                            {% for synonym in word.synonyms %}
                                {{ synonym.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>

                        <p>Example: "{{ word.example }}"</p>
                        <p class="translation">English: {{ word.translation }}</p>
                        <p>Credits: {{ word.credits }}</p>
                    </div>
                    <div class="card_footer">
                        <div class="vote_buttons">
                            <button class="upvote_button">▲ Upvote</button>
                            <span class="vote_count">{{ word.votes|length }}</span>
                            <button class="downvote_button">▼ Downvote</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
