{% extends 'base.html' %}

{% block content %}
<div class="neu-card">
    <h2>Welcome to Sheng Translator</h2>
    <p>Start translating Sheng words into English or Kiswahili, or explore our language categories.</p>
    <h1>Sheng Translator</h1>
<p>Want to connect with today's youth? Sheng Translator is your go-to for Kenya's urban slang, Sheng! This lively language mixes Swahili, English, and local dialects, showcasing the vibrant street culture.</p>
<p>With Sheng Translator, turn ordinary language into catchy, cool phrases that capture the spirit of modern Kenyan youth. Elevate your chats and texts with the rhythmic flair of Sheng!</p>

<h1>Welcome to Sheng Translator</h1>
        <p>Ever wonder how to vibe with the youth of today? Enter Sheng Translator, your ultimate guide to the unique urban slang of Kenya known as Sheng! This vibrant mixed language seamlessly blends Swahili, English, and various ethnic languages, reflecting the dynamic culture and creativity of the streets.</p>
        <p>With Sheng Translator, you can transform plain language into the cool, catchy phrases that resonate with the energy of modern Kenyan youth. Make your conversations fly high and your text messages pop with the rhythmic flair of Sheng!</p>
    <a href="{{ url_for('interlanguage_translation') }}" class="button">Translate Now</a>d
</div>
{% endblock %}
