{% extends 'base.html' %}

{% block content %}
<div class="neu-card">
    <h2>Reset Password</h2>
    <form action="{{ url_for('reset_password') }}" method="POST">
        <div>
            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password" required>
        </div>
        <div>
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="button">Reset Password</button>
    </form>
</div>
{% endblock %}
